!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav"}}
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"

      = yield_content(:comparison_header)

      = yield_content(:strips)

      = yield_content(:feature_comparison)

      .footer-container
        = partial "includes/layout/footer"
